server:
  port: 9003
spring:
  application:
    name: notification-service
  datasource:
    username: user
    password: psw
    url: jdbc:postgresql://localhost:5444/tasksoft_db
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
