server:
  port: 9003
spring:
  application:
    name: notification-service
  datasource:
    username: user
    password: psw
    url: jdbc:postgresql://localhost:5444/tasksoft_db
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  cloud:
    stream:
      function:
        definition: saveNotification
      bindings:
        saveNotification-in-0:
          destination: task-events-exchange
          group: notification-service-group

  rabbitmq:
    host: localhost
    port: 5672
    username: user
    password: password
    connection-timeout: 5s
